body {
    font-family: Helvetica, sans-serif;
}

.main-header{
    position: sticky;
    padding: var(--padding-medium) var(--padding-extra-large);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-white);
}

.main-header__logo-container{
    justify-self: start;
    grid-column: 1/2;
    grid-row: 1/2;
}

.main-header__logo-img{
    width: 40px;
    height: 40px;
}

.main-header__nav{
    justify-self: center;
    grid-column: 2/3;
    font-size: var(--font-size-medium);
    font-weight: 700;
    grid-row: 1/2;
}

.main-header__nav-list {
    list-style-type: none; 
    display: flex; 
    gap: 4rem;
}

.main-header__nav-list-item p{
    color: var(--color-primary-black)
}

.main-header__nav-hamburger{
    display: none;
    grid-row: 1/2;
}

.main-header__search-container{
    justify-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
}

.main-header__search-icon{
    width: 24px;
    height: 24px;
}

.delivery-bar{
    padding: var(--padding-small) 0;
    text-align: center;
    background-color: var(--color-primary-black);
}

.delivery-bar__link{
    font-weight: 700;
    text-decoration: none;
    color: var(--color-primary-white);
}

.delivery-bar__link:hover{
    text-decoration: underline;
}

.delivery-bar__text{
    display: inline;
}

.delivery-bar__icon{
    width: 25px;
    height: 25px;
    vertical-align:middle;
}

.product{
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 1rem;
    padding: var(--padding-xxl);
}

.product__thumbnail-container{
    min-width: 106px;
    overflow: hidden;
    padding-top: var(--padding-small);
    gap: 10px;
}

.product__thumbnail-img{
    width: 90px;
    height: 90px;
    display: block;
    margin: var(--margin-medium) auto var(--margin-medium) auto;
    padding: 0.2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
}

.product__thumbnail-img:hover{
    border: 2px solid var(--color-primary-black);
}

.product__main-image-container{
    width: 100%;
    max-width: 640px;
    max-height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-offwhite);
}

.product__main-img{
    width: 50%;
}

.product__sidebar-container{
    max-width: 390px;
}

.product__header{
    font-size: 40px;
    padding-top: var(--padding-extra-small);
    padding-bottom: var(--padding-extra-small);
}

.product__slogan{
    padding-bottom: 2.5rem;
}

.product__price{
    padding-bottom: 2.5rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.product__radio{
    margin-top: var(--margin-extra-small);
    width: 40px;
    height: 40px;
    accent-color: var(--main-black);
}

.product__buy-button{
    width: 100%;
    padding: var(--padding-small);
    margin: var(--margin-extra-large) 0;
    border-radius: 24px;
    color: var(--color-primary-white);
    background-color: var(--color-primary-black);
    cursor: pointer;
}

.product__buy-text{
    display: inline;
    font-size: var(--font-size-small);
    font-weight: 700;
}

.product__buy-icon{
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}

.product__keyfeatures{
    padding: var(--padding-medium) 0;
    border-top: 1px solid var(--color-dividers);
    border-bottom: 1px solid var(--color-dividers);
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);
}

.product__keyfeatures-list{
    list-style: none;
}

.product__keyfeatures-container{
    display: flex;
    gap: var(--padding-small);
    font-size: 0.9rem;
}

.product__keyfeatures-icon{
    width: 24px;
}

.product__keyfeatures-text{
    padding-top: 0.25rem;
    color: var(--color-secondary-gray);
}

@media screen and (max-with: 1024px) {
    
}


@media screen and (max-width:768px) {

    .main-header__logo-container{
        grid-column: 2/3;
        justify-self: center;
    }

    .main-header__logo-img{
        width: 24px;
        height: 24px;
    }

    .main-header__nav{
        display: none;
    }

    .main-header__nav-hamburger{
        display: inline;
        grid-column: 1/2;
        justify-self: start;
    }
    

    .main-header__search-icon{
        grid-column: 3/4;
        width: 20px;
        height: 20px;
    }

    .delivery-bar__text{
        font-size: 14px;
    }

    .delivery-bar__icon{
        width: 14px;
        height: 14px;
    }
}